*{
	padding: 0;
	margin: 0;
}

body{
	background: #f5f5f5;
}

@font-face {
	font-family: 'iconfont';  /* project id 389899 */
	src: url('../style/iconfont.eot');
	src: url('../style/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../style/iconfont.woff') format('woff'),
	url('../style/iconfont.ttf') format('truetype'),
	url('../style/iconfont.svg#iconfont') format('svg');
}

.icon{
	font-family:"iconfont" !important;
	font-size:2.7rem;
	font-style:normal;
	text-align: left;
	margin-top: 0.375rem;
	margin-left: 5%;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.arrow{
	font-family:"iconfont" !important;
	font-size:1.2rem;
	font-style:normal;
	line-height: 3rem;
	color: #c3c3c3;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}


.icon-images{
	font-family:"iconfont" !important;
	font-size:1.8rem;
	font-style:normal;
	line-height: 2.7rem;
	margin-left: 30%;
	color: #56ac49;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.leave-type{
	display: flex;
	width: 100%;
	height:3.75rem;
	background: #ffffff;
	margin: 0.5rem auto;
}

.time{
	display: flex;
	width: 100%;
	height: 3rem;
	background: #ffffff;
}

.line{
	width: 90%;
	height: 1px;
	background: #dedede;
	margin-left: 10%;
}

.line-top{
	border-top: 1px solid #dedede;
}

.line-bottom{
	border-bottom: 1px solid #dedede;
}

.flex{
	display: flex;
}

.flex-column{
	display: flex;
	flex-direction:column;
}

.leave-because{
	width: 100%;
	height: 9.75rem;
	background: #ffffff;
	margin-top: 0.75rem;
}

.add-blok{
	width: 100%;
	height: 7.5rem;
	background: #ffffff;
	margin-top: 0.750rem;
}

.button{
	width: 90%;
	height: 3rem;
	background: #417db9;
	border-radius: 4px;
	color: #ffffff;
	margin:0.75rem auto ;
	text-align: center;
	line-height: 3rem;
}

.left-font{
	font-size: 0.975rem;
	line-height: 3rem;
	margin-left: 5%;
}

text{
	color: red;
	font-size: 0.75rem;
	text-align: center;
	line-height: 3rem;
	padding-left: 0.375rem;
}

.right-font{
	font-size: 0.975rem;
	line-height: 3rem;
	margin-left: 56%;
	color: #c3c3c3;
}

.right-font-number{
	font-size: 0.975rem;
	line-height: 3rem;
	margin-left: 38%;
	color: #c3c3c3;
}

.data{
	width: 20%;
	height: 100%;
	margin-left: 48%;
	font-size: 0.975rem;
	line-height: 3rem;
	border: 0;
	text-align: right;
	outline: none;
	color: #c3c3c3;
}

.data-money{
	width: 20%;
	height: 100%;
	margin-left: 52%;
	font-size: 0.975rem;
	line-height: 3rem;
	border: 0;
	text-align: right;
	outline: none;
	color: #c3c3c3;
}

.rights-font{
	font-size: 0.975rem;
	line-height: 3rem;
	color: #c3c3c3;
}

.text-block{
	width: 90%;
	height: 3rem;
	resize : none;
	font-size: 0.975rem;
	line-height: 1.5rem;
	margin-left: 5%;
	border: 0;
	outline: none;
}

.menu-card{
	display: flex;
	width: 100%;
	height: 7.5rem;
	background: #ffffff;
	margin-top: 0.75rem;
}

.time-thing{
	width: 60%;
	height: 100%;
	margin: 0.75rem;
}

.title-font{
	font-size: 0.975rem;
}

.details{
	font-size: 0.975rem;
	color: #999999;
	line-height: 1.5rem;
}
